<html lang="en">
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-174698289-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-174698289-1');
        </script>
        <title>Bible Word Exchanger</title>
        <script src="./myscripts.js"></script>
    </head>
    <body>
        <%  for (let book of books){ %>
            <a href="/?book=<%= book %>"><%= book %></a>
        <% } %>
        <br><br>
        <input placeholder="Old Word" id="old_word" aria-label="Old Word">
        <input placeholder="New Word" id="new_word" aria-label="New Word" onkeyup="clickButton(event)">
        <button id="enter_button" onclick="replaceText()">Change Text</button>
        <br>
        <p id="bible_text"><%- bibleText.replace(/\n/g, '<br>') %></p>
        <a href="/de?book=<%= book %>">German version</a>
    </body>
</html>