<html>
    <head>
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-174698289-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
    
            gtag('config', 'UA-174698289-1');
        </script>
        <title>Bible Word Exchanger</title>
        <script src="./myscripts.js"></script>
    </head>
    <body>
        <%  for (let book of books){ %>
            <a href="/de?book=<%= book %>"><%= book %></a>
        <% } %>
        <br><br>
        <input placeholder="Altes Wort" id="old_word">
        <input placeholder="Neues Wort" id="new_word" onkeyup="clickButton(event)">
        <button id="enter_button" onclick="replaceText()">Text ändern</button>
        <br>
        <p id="bible_text"><%- bibleText.replace(/\n/g, '<br>') %></p>
        <a href="/?book=<%= book %>">English version</a>
    </body>
</html>